<a class="anchor" id="sponsors"></a>
<div class="contents">
  <div class="ui stackable page grid">
    <div class="row">
      <div class="column">
        <h1 class="ui header">
          <i class="star icon"></i>
          <div class="content">
            Sponsors
            <div class="sub header">スポンサー</div>
          </div>
        </h1>
      </div>
    </div>

    <h2 class="ui header">Platinum</h2>
    <hr>
    <% sponsors.platinum.forEach(function(sponsor, index){ %>
      <div class="row">
        <div class="column">
          <div class="ui segment sponsor">
            <a href="<%= sponsor.url %>">
              <img class="ui centered image" src="images/sponsors/<%= sponsor.logo %>">
            </a>
            <h3 class="ui header"><a href="<%= sponsor.url %>"><%= sponsor.name %></a></h3>
            <p>
              <%- sponsor.introduction %>
            </p>
            <div class="sponsor__footer">
              <% if(jobs.platinum.some(function(s) { return s.name === sponsor.name })) {%>
                <a href="<%= 'jobs.html#' + sponsor.name %>" class="large ui button sponsor-recruit">
                  <i class="star icon"></i> <span>求人情報・広告を見る</span>
                </a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    <% }) %>

    <h2 class="ui header">Gold</h2>
    <hr>
    <% sponsors.gold.forEach(function(sponsor, index){ %>
      <% if (index % 2 === 0) { %>
        <div class="two column row">
      <% } %>
      <div class="column">
        <div class="ui segment sponsor">
          <a href="<%= sponsor.url %>">
            <img class="ui centered image" src="images/sponsors/<%= sponsor.logo %>">
          </a>
          <h3 class="ui header"><a href="<%= sponsor.url %>"><%= sponsor.name %></a></h3>
          <p>
            <%= sponsor.introduction %>
          </p>
          <div class="sponsor__footer">
            <% if(jobs.gold.some(function(s) { return s.name === sponsor.name })) {%>
              <a href="<%= 'jobs.html#' + sponsor.name %>" class="large ui button sponsor-recruit">
                <i class="star icon"></i> <span>求人情報・広告を見る</span>
              </a>
            <% } %>
          </div>
        </div>
      </div>
      <% if (index % 2 === 1 || index === sponsors.gold.length - 1) { %>
        </div>
      <% } %>
    <% }) %>

    <h2 class="ui header">Silver</h2>
    <hr>
    <% sponsors.silver.forEach(function(sponsor, index){ %>
      <% if (index % 3 === 0) { %>
        <div class="three column row aligned">
      <% } %>
      <div class="column">
        <div class="ui segment sponsor">
          <a href="<%= sponsor.url %>">
            <img class="ui centered image" src="images/sponsors/<%= sponsor.logo %>" class="logo-silver">
          </a>
          <div class="sponsor__footer">
            <% if(jobs.silver.some(function(s) { return s.name === sponsor.name })) {%>
              <a href="<%= 'jobs.html#' + sponsor.name %>" class="large ui button sponsor-recruit">
                <i class="star icon"></i> <span>求人情報・広告を見る</span>
              </a>
            <% } %>
          </div>
        </div>
      </div>
      <% if (index % 3 === 2 || index === sponsors.silver.length - 1) { %>
        </div>
      <% } %>
    <% }) %>

    <h2 class="ui header">Bronze</h2>
    <hr>
    <% sponsors.bronze.forEach(function(sponsor, index){ %>
      <% if (index % 3 === 0) { %>
        <div class="five column row aligned">
      <% } %>
      <div class="column">
        <a href="<%= sponsor.url %>">
          <img src="images/sponsors/<%= sponsor.logo %>">
        </a>
      </div>
      <% if (index % 3 === 2 || index === sponsors.bronze.length - 1) { %>
        </div>
      <% } %>
    <% }) %>
  </div>
</div> <!-- sponsors -->
